<!DOCTYPE html>
{% load static %}
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>密码重置链接已经发送</title>
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script defer src="{% static 'js/font-awesome/fontawesome-all.js' %}"></script>
</head>
<body>
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <h1 class="text-center"><a href="{% url 'index' %}"><strong>FinNews</strong></a></h1>
                </div>
            </div>

            <h3 style="margin: 1rem auto;">密码重置链接已经发送</h3>
            <p style="margin: 1rem auto;">
              如果您输入的邮件地址 ({{ email }}) 所对应的账户存在，设置密码的提示已经发送邮件给您，您将很快收到。
            </p>
            <p style="margin: 1rem auto;">
              如果您没有收到邮件，请确保您所输入的地址是正确的， 并检查您的垃圾邮件文件夹。
            </p>
        </div>
    </div>
</div>
</body>
</html>