<!DOCTYPE html>
{% load static %}
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>密码修改成功</title>
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <h1 class="text-center"><a href="{% url 'index' %}"><strong>FinNews</strong></a></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mx-auto">
                    <p style="margin: 1rem 0">密码修改成功！请牢记您的新密码！</p>
                    <p style="margin: 1rem 0">
                        请 <a class="btn btn-outline-primary" href="{% url 'index' %}">返回首页</a>
                        或 <a class="btn btn-outline-primary" href="{% url 'login' %}">重新登录</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>