<!DOCTYPE html>
{% load static %}
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title> 密码重置链接已发送 </title>
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <header>
        <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo"> FinNews </a>
          <ul class="right hide-on-med-and-down">
              {% if user.is_authenticated %}
                  <li><a href="{% url 'news' %}"> 读新闻 </a></li>
                  <li><a href="{% url 'stocks' %}"> 查看股票 </a></li>
                  <li><a href="{% url 'password_change' %}"> 修改密码 </a></li>
                  <li><a href="{% url 'logout' %}"> 注销登录 </a></li>
              {% else %}
                  <li><a href="{% url 'login' %}"> 登录 </a></li>
                  <li><a href="{% url 'register' %}"> 注册 </a></li>
              {% endif %}
          </ul>

          <ul id="nav-mobile" class="sidenav">
            {% if user.is_authenticated %}
                  <li><a href="{% url 'news' %}"> 读新闻 </a></li>
                  <li><a href="{% url 'stocks' %}"> 查看股票 </a></li>
                  <li><a href="{% url 'password_change' %}"> 修改密码 </a></li>
                  <li><a href="{% url 'logout' %}"> 注销登录 </a></li>
              {% else %}
                  <li><a href="{% url 'login' %}"> 登录 </a></li>
                  <li><a href="{% url 'register' %}"> 注册 </a></li>
              {% endif %}
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    </header>

    <main>
        <div class="container">
            <h5 style="margin: 1rem auto;">密码重置链接已经发送</h5>
            <p style="margin: 1rem auto;">
              如果您输入的邮件地址 ({{ email }}) 所对应的账户存在，设置密码的提示已经发送邮件给您，您将很快收到。
            </p>
            <p style="margin: 1rem auto;">
              如果您没有收到邮件，请确保您所输入的地址是正确的， 并检查您的垃圾邮件文件夹。
            </p>
        </div>
    </main>

    <footer class="page-footer teal">
        <div class="footer-copyright">
          <div class="container">
          Theme by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
        </div>
    </footer>


  <!--  Scripts-->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/csrf.js' %}"></script>

</body>
</html>