<!DOCTYPE html>
{% load static %}
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>新密码设置成功</title>
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <h1 class="text-center"><a href="{% url 'index' %}"><strong>FinNews</strong></a></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mx-auto">
                    <h3 style="margin: 1rem 0">新密码设置成功</h3>
            <p style="margin: 1rem 0">
                你的口令己经设置。现在你可以继续进行 <a class="btn btn-primary" href="{% url 'login' %}">登录</a> 。
            </p>
        </div>
    </div>
</div>
</body>
</html>