<!DOCTYPE html>
{% load static %}
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title> 密码重置 </title>
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <header>
        <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo"> FinNews </a>
          <ul class="right hide-on-med-and-down">
              {% if user.is_authenticated %}
                  <li><a href="{% url 'news' %}"> 读新闻 </a></li>
                  <li><a href="{% url 'stocks' %}"> 查看股票 </a></li>
                  <li><a href="{% url 'password_change' %}"> 修改密码 </a></li>
                  <li><a href="{% url 'logout' %}"> 注销登录 </a></li>
              {% else %}
                  <li><a href="{% url 'login' %}"> 登录 </a></li>
                  <li><a href="{% url 'register' %}"> 注册 </a></li>
              {% endif %}
          </ul>

          <ul id="nav-mobile" class="sidenav">
            {% if user.is_authenticated %}
                  <li><a href="{% url 'news' %}"> 读新闻 </a></li>
                  <li><a href="{% url 'stocks' %}"> 查看股票 </a></li>
                  <li><a href="{% url 'password_change' %}"> 修改密码 </a></li>
                  <li><a href="{% url 'logout' %}"> 注销登录 </a></li>
              {% else %}
                  <li><a href="{% url 'login' %}"> 登录 </a></li>
                  <li><a href="{% url 'register' %}"> 注册 </a></li>
              {% endif %}
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <h5> 重置密码 </h5>
                    <p> 输入合法的电子邮件地址 </p>
                </div>
            </div>
            <div>
                <form class="form" action="{% url 'password_reset' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for message in messages %}
                        <p class="errorlist">{{ message }}</p>
                    {% endfor %}
                    {% for field in form %}
                        <div class="row">
                            <div class="input-field col s6">
                            {{ field }}
                            <label for="{{ field.id_for_label }}" class="active">{{ field.label }}</label>
                            {{ field.errors }}
                            {% if field.help_text %}
                                <p class="help text-small text-muted">{{ field.help_text|safe}}</p>
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="input-field col s6">
                        <button type="submit" class="waves-effect waves-light btn"> 提交 </button>
                        <a class="waves-effect waves-light btn" style="margin: 10px 0" href="{% url 'index' %}"> 取消 </a>
                        <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </main>

    <footer class="page-footer teal">
        <div class="footer-copyright">
          <div class="container">
          Theme by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
        </div>
    </footer>


  <!--  Scripts-->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/csrf.js' %}"></script>
</body>
</html>