<!DOCTYPE html>
{% load static %}
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>注册</title>
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <header>
        <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo"> FinNews </a>
          <ul class="right hide-on-med-and-down">
              {% if user.is_authenticated %}
                  <li><a href="{% url 'news' %}"> 读新闻 </a></li>
                  <li><a href="{% url 'stocks' %}"> 查看股票 </a></li>
                  <li><a href="{% url 'password_change' %}"> 修改密码 </a></li>
                  <li><a href="{% url 'logout' %}"> 注销登录 </a></li>
              {% else %}
                  <li><a href="{% url 'login' %}"> 登录 </a></li>
                  <li><a href="{% url 'register' %}"> 注册 </a></li>
              {% endif %}
          </ul>

          <ul id="nav-mobile" class="sidenav">
            {% if user.is_authenticated %}
                  <li><a href="{% url 'news' %}"> 读新闻 </a></li>
                  <li><a href="{% url 'stocks' %}"> 查看股票 </a></li>
                  <li><a href="{% url 'password_change' %}"> 修改密码 </a></li>
                  <li><a href="{% url 'logout' %}"> 注销登录 </a></li>
              {% else %}
                  <li><a href="{% url 'login' %}"> 登录 </a></li>
                  <li><a href="{% url 'register' %}"> 注册 </a></li>
              {% endif %}
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    </header>

    <main>
        <div class="container">
           <div class="row">
                <div class="col s6">
                    <h5> 注册 </h5>
                    <p> 输入用户名、邮箱和密码 </p>
                </div>
            </div>

            <div>
                <form class="form" action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="row">
                            <div class="input-field col s6">
                            {{ field }}
                            <label for="{{ field.id_for_label }}" class="active">{{ field.label }}</label>

                            {{ field.errors }}
                            {% if field.help_text %}
                                <p class="help text-small text-muted">{{ field.help_text|safe}}</p>
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="input-field col s6">
                            <button type="submit" class="waves-effect waves-light btn">注册</button>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col s6">
                    <p style="margin: 10px"><a href="/login/"> 已有账号登录? </a> 还是 <a href="/"> 返回首页 </a></p>
                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer teal">
        <div class="footer-copyright">
          <div class="container">
          Theme by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
        </div>
    </footer>

    <!--  Scripts-->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/csrf.js' %}"></script>


<script>
    // 检查用户名是否存在
    $("#id_username").on('blur', function () {
        var csrftoken = getCookie('csrftoken');
        $('ul#dup_username').remove();
        // alert("checking email")
        var username = $(this).val();
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            url: 'checkusername/',
            type: 'POST',
            data: {username: username},
            dataType: 'json',
            success: function (arg) {
                // alert(arg.exist)
                if (parseInt(arg.exist) > 0) {
                    $('input#id_username').after('<ul class="errorlist" id="dup_username"><li>已存在一位使用该名字的用户。</li></ul>');
                }
            }
        })
    });

</script>

<script>
    // 检查邮件是否存在
    $("#id_email").on('blur', function () {
        var csrftoken = getCookie('csrftoken');
        // alert("checking email")
        $('ul#dup_email').remove();
        var email = $(this).val();
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            url: 'checkemail/',
            type: 'POST',
            data: {email: email},
            dataType: 'json',
            success: function (arg) {
                // alert(arg.exist)
                if (parseInt(arg.exist) > 0) {
                    $('input#id_email').after('<ul class="errorlist" id="dup_email"><li>已存在一位使用该电子邮件的用户。</li></ul>');
                }
            }
        })
    });
</script>

</body>
</html>