<!DOCTYPE html>
{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title> 金融资讯 </title>
  <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
<header>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"> FinNews </a>
      <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
          <li><a href="{% url 'news' %}"> 读新闻 </a></li>
          <li><a href="{% url 'stocks' %}"> 查看股票 </a></li>
          <li><a href="{% url 'newslikeview' %}"> 查看收藏 </a></li>
          <li><a href="{% url 'tagsview' %}"> 标签管理 </a></li>
          <li><a href="{% url 'friends' %}"> 关注用户 </a></li>
          <li><a href="{% url 'password_change' %}"> 修改密码 </a></li>
          <li><a href="{% url 'logout' %}"> 注销登录 </a></li>
        {% else %}
          <li><a href="{% url 'login' %}"> 登录 </a></li>
          <li><a href="{% url 'register' %}"> 注册 </a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        {% if user.is_authenticated %}
          <li><a href="{% url 'news' %}"> 读新闻 </a></li>
          <li><a href="{% url 'stocks' %}"> 查看股票 </a></li>
          <li><a href="{% url 'newslikeview' %}"> 查看收藏 </a></li>
          <li><a href="{% url 'tagsview' %}"> 标签管理 </a></li>
          <li><a href="{% url 'friends' %}"> 关注用户 </a></li>
          <li><a href="{% url 'password_change' %}"> 修改密码 </a></li>
          <li><a href="{% url 'logout' %}"> 注销登录 </a></li>
        {% else %}
          <li><a href="{% url 'login' %}"> 登录 </a></li>
          <li><a href="{% url 'register' %}"> 注册 </a></li>
        {% endif %}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>

<main>
  <div class="container">
    {% if user.is_authenticated %}
      <h4 class="center">关注用户</h4>
      <p>您已登录，欢迎您：<a href="#">{{ user.username }}</a></p>
      <div class="row">
      <div class="col s12">
        <table class="table">
          <thead>
          <tr>
            <th>用户</th>
            <th>最新收藏</th>
            <th style="text-align: center">编辑</th>
          </tr>
          </thead>
          <tbody>
          {% for friend in friends%}
            <tr class="tr_likes">
              <td><a href="/app/userview/{{ friend.username }}" target="_blank">{{ friend.username }}</a></td>
              {% if friend.recentid and friend.recenttitle %}
                <td><a href="/newsid/{{ friend.recentid }}" target="_blank">{{ friend.recenttitle}}</a></td>
              {% else %}
                <td>该用户没有收藏记录！</td>
              {% endif %}
              <td style="text-align: center"><button class="delbtn waves-effect waves-light red btn" id="{{ friend.username }}">取消关注</button> </td>
            </tr>
          {% empty %}
            <p id="tips">您没有关注的人哦！</p>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p style="margin: 20px auto"> 你还没有登录，请
        <a class="waves-effect waves-light btn" href="{% url 'login' %}"> 登录 </a>
        或者
        <a class="waves-effect waves-light btn" href="{% url 'register' %}"> 注册 </a> 。
      </p>
    {% endif %}
    </div>
</main>

<footer class="page-footer teal">
  <div class="footer-copyright">
    <div class="container">
      Theme by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>

<!--  Scripts-->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/csrf.js' %}"></script>

  <script>
      // 删除收藏
      $('body').on('click', '.delbtn', function () {
          var csrftoken = getCookie('csrftoken');
          var fname = $(this).attr('id');
          // alert(stock_id)
          $.ajaxSetup({
              beforeSend: function (xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });
          $.ajax({
              url: '{% url 'friendsdelete' %}',
              type: 'POST',
              data: {fname: fname},
              dataType: 'json',
              success: function (arg) {
                  // 网页动态显示删除这个记录，后台数据库已删除
                  var btn_row = document.getElementById(fname).parentNode.parentNode
                  btn_row.remove()
                  // 如果此时表格为空，则显示错误信息
                  if (! ($('tr.tr_likes').length)) {
                      $('p#tips').append('<p class="errorlist" id="error_message" style="margin: 1rem 0">' + '对不起，您还没有关注的人</p>');
                  }
              }
          })
      });
  </script>
</body>
</html>